.book {
  width: 240px;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-right: 20px;

  & .couv {
    height: 340px;
    width: 240px;
    background-size: cover;
    box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.4);
  }

  & .couv1 {
    background-image: url("../img/livre1.jpg");
  }
  & .couv2 {
    background-image: url("../img/livre2.png");
  }
  & .couv3 {
    background-image: url("../img/livre3.jpg");
  }

  & p {
    margin-top: 0;
    font-size: 1.1rem;
  }

  & p.title {
    margin-top: 40px;
    margin-bottom: 5px;
    color: #b89454;
    font-size: 1.4rem;
    font-weight: 900;
    font-family: $font-primary;
    text-transform: uppercase;
  }

  & p.title--green {
    color: #9aa064;
  }
  & p.title--blue {
    color: #6477a0;
  }

  & p.subtitle {
    color: #999;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
    font-family: $font-primary;
  }

  & .btn {
    background: #4b4b4b;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 8px 25px 8px 25px;
    font-size: 1rem;
    text-transform: none;
    margin-top: 15px;
    font-family: "Buenard", serif;
    transition: all 0.4s;
    text-decoration: none;

    &:hover {
      box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.2);
    }
  }

  & .btn--yellow {
    background: #b89454;
  }
  & .btn--yellow2 {
    background: #a07e43;
  }
  & .btn--green {
    background: #9aa064;
  }
  & .btn--green2 {
    background: #777c49;
  }
  & .btn--blue {
    background: #6477a0;
  }
  & .btn--blue2 {
    background: #4f618a;
  }
}

@include media-breakpoint-down(xs) {
  .flex-xs {
    flex-wrap: wrap;
  }

  .book {
    width: auto;
  }

  .book .couv {
    margin: auto;
  }
}
