.footer
{
  min-height: 250px;
  text-align: center;
  margin-top: 0;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 95px; 
  /* Pour changer la couleur de fond aller dans le HTML */

  & p
  {
    text-align: center;
    padding: 0; margin: 0;
    font-family: $font-primary;
    font-size: 1rem;
    line-height: 1.6rem;
  }

  & .footer-title
  {
    color: $color-primary;
    font-size: 1.5rem;
    font-family: "Buenard", serif;
    font-weight: 900;
    margin-bottom: 10px;
  }

  & .social-icons
  {
    width: 30px;
    margin: auto;
    height: 42px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    transition: all 0.3s;
    cursor: pointer;

    &:hover
    {
      opacity: 0.9;
    }
  }

    & .fb-icon
    {
    background-image: url('../img/fb.png');
    margin-right: 40px;
    }

    & .fb-insta
    {
    background-image: url('../img/insta.png');
    }
}


@media (max-width: 749px)
{
  .footer 
  {
    padding: 0 50px 0 50px;
  }
}
