/* STYLE POUR LA PAGE PROMTIONELLE */

.promo
{
  padding-top: 60px;
  font-family: $font-primary;
  padding-bottom: 80px;
  background-image: url('../img/background_mountain.png');



  &  .social-icons
  {
    width: 30px;
    margin: auto;
    height: 42px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    transition: all 0.3s;
    cursor: pointer;

    &:hover
    {
      opacity: 0.9;
    }
  }

    & .fb-icon
    {
    background-image: url('../img/fb.png');
    margin-right: 40px;
    margin-left: 0;
    }

    & .fb-insta
    {
    background-image: url('../img/insta.png');
    }


& .promo-left img 
{
  height: 460px;

  opacity: 0;
  animation-duration: 1s;
  animation-name: animationtitle;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

    & .promo-content__title
    {
      padding-top: 50px;
      animation-duration: 1s;
      opacity: 0;
      animation-name: animationtitle;
      animation-timing-function: ease;
      animation-iteration-count: 1;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;


      @keyframes animationtitle {
      0% {
      margin-top: 0;
      opacity: 0;
      }
      100% {
      margin-top: 23px;
      opacity: 1;
      }
      }

      & h1
      {
        color: #757680;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 3rem;
        line-height: 2.7rem;
        color: $color-primary;
      }

      & h2
      {
        font-weight: 400;
        color: #404149;
        margin-top: 14px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.2rem;

        margin-bottom: 30px;
      }

      & p 
      {
        max-width: 550px;
        margin-top: 20px;
        letter-spacing: -0.03rem;
        font-size: 1.25rem;
      }


/* ILS EN PARLENT */

      & h4
      {
        color: #a1a1a1;
        font-size: 1.3rem;
      }

      & .chroniqueurs
      {
        margin-top: 30px;

      & .chroniqueurs__img
      {
        display: inline-block;
        opacity: 0.7;
        transition: all 0.3s;
        &:hover
        { opacity: 1; cursor: pointer; }
      }
      }




      /*  END */


    }


/* COUVERTURE */


 & .couverture-block
 {
   position: relative;
   text-align: center;
   margin-top: -80px;
   transition: all 0.3s;

    & .couverture
    {
        width: 100%;
        height: 560px;
        background-image: url('../img/couverture.png');
        background-size: cover;
        background-position: center -10px;
        transition: all 0.3s;

        &:hover
        {
          background-position: center -20px;
          opacity: 0.9;
          cursor: pointer;
        }
    }



    & .notes
    {
      margin-top: 20px;
      height: 100px;
      width: 100%;
    }

    & p
    {
      color: #757680;
      text-transform: uppercase;
      padding: 0; margin: 0; margin-top: 12px;
      font-weight: 700;
      font-size: 0.9rem;

      & .subtitle
      {
        color: #8d8f9c;
        font-size: 0.8rem;
      }
    }

   }

   /* AUTEUR */

   & .auteur
   {
     margin-top: 90px;
     min-height: 400px;
     margin-bottom: 150px;

    & h4
    {
      font-size: 1.1rem;
      font-weight: 700;
      text-transform: none;
      margin-bottom : 0;
    }
    & h3
      {
        font-size: 1.6rem;
        font-weight: 900;
        margin-top: -5px;
        text-transform: none;
      }

     & p
     {
       font-size: 1rem;
       text-align: justify;
     }
   }
}



.argument 
{
  position: relative;
  background: #fdfdfd;
  min-height: 140px;

  & .inner-argument
  {
    min-height: 340px;


    & h3     
    {
      color: #9d2c3f;
    font-family: $font-primary;
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 2.7rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }

    & p
    {
      margin-top: 10px;
      width: 460px;
      color: #3b3b3f;
      font-weight: normal;
      font-family: "Buenard", serif;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }

  & .inner-argument--downright {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    background-color:#f7f7f7;
    height: 600px;
    padding-top: 120px;
    z-index: 98;
    background-image: url('../img/background_city.png');
    background-size: cover;
   }


   & .inner-argument--center { 
    height: 600px;
    padding-top: 120px;
    background-color: #fdfdfd;
    background-image: url('../img/background_war.png');
    background-repeat: no-repeat;
   }

   & .inner-argument--upright { 
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    background-color: #f7f7f7;
    background-image: url('../img/background_brasil.png');
    background-repeat: no-repeat;
    background-position: bottom;
    height: 600px;
    padding-top: 240px;
   }

   & .heroes
   {
     z-index: 99;
     position: absolute;
    
     background-size: cover;
   }

   & .heroes--heroes1
   {
    right: 0;
    height: 600px;
    bottom: 18px;
    width: 700px;
      background-image: url('../img/heroes1.png');
   }

   & .heroes--heroes2
   {
     left: 0;
     width: 600px;
     margin-top: 36px;
     transform: rotate(-3deg);
     height: 500px;
    background-image: url('../img/heroes2.png');
   }

   & .heroes--heroes3
   {
    right: 0;
    height: 500px;
    bottom: 0px;
    width: 600px;
    background-image: url('../img/heroes3.png');
   }


}

.argument3
{
   margin-top: -140px;
   background: transparent;
}

.entertheuniverse
{
  min-height: 700px;
  text-align: center;
  padding-top: 70px;
  background-repeat: no-repeat;
  background-color: #fdfdfd;
}


.presse 
{
  padding-top: 90px;
  padding-bottom: 300px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url('../img/background_forest.png');
  background-color: #fdfdfd;

  & h2 
  {
    font-size: 1.7rem;
    margin-bottom: 60px;
  }

  & p 
  {
    margin-left: 70px;
    font-size: 1.4rem;
  }

  & .presse_content
  {
    min-height: 70px;
    padding-bottom: 20px;
  }

  & img 
  {
    height: 40px;
    opacity: 0.4;
    transition: all 0.2s;

    &:hover 
    {
      opacity: 0.6;
    }
  }

  & .chronique-block 
  {
    display: flex; margin-top: 20px;
  }
}


.subscribe
{
  position: relative;
  margin: auto;
  width: 780px;
  height: 100px;
  padding-left: 50px;

  & .mj-w-res-iframe
  {
    position: absolute;
    margin-left: -50%;
  }
}

.subscribe-mobile
{
  position: relative;
  display: none;
  margin: auto;
  width: 100%;
  height: 210px;

  & .mj-w-res-iframe
  {
    position: absolute;
    margin-left: -50%;
  }
}

@include media-breakpoint-down(md) {
  .promo
  {
    .lectricecompulsive
    {
    }
    .fildediane
    {
      margin-left: 40px;
    }

    .instantlecteur
    {
      width: 320px;
    }

  }
}

@include media-breakpoint-down(xs) {
  .promo
  {
    .lectricecompulsive, .helariapedia, .fildediane,
    .instantlecteur, .passionconfidences
    {
      margin: 0;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .subscribe 
  {
    display: none;
  }

  .subscribe-mobile
  {
    display: block;
  }
}
